Este trabajo tiene como objetivo el estudio del S&P500 e intentar ver si las grandes empresas del índice han tenido mejor evolución en relación a los precios que el índice completo en este último año

In [1]:
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

In [49]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

response = requests.get(url)
response.raise_for_status()

In [50]:
soup_wikipedia = BeautifulSoup(response.text, "html.parser")

In [52]:
tabla = soup_wikipedia.find_all("table", {"id": "constituents"})
df = pd.read_html(str(tabla))[0]
df_empresas = df[["Symbol","Security","GICS Sector"]]
df_empresas

/var/folders/39/ysgmngbj1g30wx84rthtgfr40000gn/T/ipykernel_1113/2382382646.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tabla))[0]

    Symbol             Security             GICS Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4      ACN            Accenture  Information Technology
..     ...                  ...                     ...
498    XYL           Xylem Inc.             Industrials
499    YUM          Yum! Brands  Consumer Discretionary
500   ZBRA   Zebra Technologies  Information Technology
501    ZBH        Zimmer Biomet             Health Care
502    ZTS               Zoetis             Health Care

[503 rows x 3 columns]

In [53]:
df_empresas.to_csv("sp500_companies_names", index = False)